<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
">
    <!-- 配置数据源 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close">
        <property name="driverClass" value="com.mysql.jdbc.Driver" />
        <property name="jdbcUrl">
            <value>${jdbc.url}</value>
        </property>
        <property name="user">
            <value>${jdbc.username}</value>
        </property>
        <property name="password">
            <value>${jdbc.password}</value>
        </property>
        <property name="minPoolSize">
            <value>${jdbc.pool.min}</value>
        </property>
        <property name="maxPoolSize">
            <value>${jdbc.pool.max}</value>
        </property>
        <property name="initialPoolSize">
            <value>${jdbc.pool.init}</value>
        </property>
        <property name="maxStatements">
            <value>${jdbc.pool.maxStatements}</value>
        </property>
        <property name="maxIdleTime">
            <value>${jdbc.pool.maxIdleTime}</value>
        </property>
        <property name="idleConnectionTestPeriod">
            <value>${jdbc.pool.idleConnectionTestPeriod}</value>
        </property>
        <property name="acquireRetryAttempts">
            <value>${jdbc.pool.acquireRetryAttempts}</value>
        </property>
        <property name="breakAfterAcquireFailure">
            <value>${jdbc.pool.breakAfterAcquireFailure}</value>
        </property>
        <property name="testConnectionOnCheckout">
            <value>${jdbc.pool.testConnectionOnCheckout}</value>
        </property>
    </bean>
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">
                    org.hibernate.dialect.MySQLDialect
                </prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">none</prop>
                <prop key="current_session_context_class">thread</prop>
            </props>
        </property>
        <property name="packagesToScan">
            <list>
                <value>com.springmvc.niklaus.pojo</value>
            </list>
        </property>
    </bean>

    <!-- 定义事务管理器 -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>

</beans>